.elgg-menu-item-show-tags {
	margin-left: auto !important;	
}

.questions-tags-filter {
	
	> .elgg-menu-container {
		display: inline-block;
	}
	
	li.elgg-tag {
		a {
	    	line-height: inherit;
	    }
	}	    
}

.question-solution-time {
	&.question-solution-time-due,
	&.question-solution-time-due time {
		color: $(state-warning-font-color);
	}
	
	&.question-solution-time-late,
	&.question-solution-time-late time {
		color: $(state-danger-font-color);
	}
}

#question-answers {
	margin-top: 4rem;
}

.question-comments,
.answer-comments {
	margin-left: 2rem;
	
	> .elgg-head {
		display: none;
	}
	
	> .elgg-body {
		display: flex;
		flex-direction: column;
		
		> form {
			order: 1;
			display: block;
		}
		
		.elgg-item-object-comment > .elgg-image-block {
			> .elgg-image {
				display: none;
			}
			
			.elgg-content {
				margin: 0;
			}
		}
	}
}
